*{
    margin: 0;
}

/*configuração do cabeçalho do site*/
#cabecalioTelaLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 40, 0.896);
}
#Logomax{
    margin: 20px;
}
.botaologinregistrar{
    position: left;
    margin: 10px;
}

.ASSINAR{
    width: 150px;
    height: 40px;
    color: aliceblue;
    background-color: rgb(72, 121, 255);
    border-radius: 10px;
}
.ENTRAR{
    height: 20px;
    width: 80px;
    color: aliceblue;
    background: none;
    border: none;
}
/*Final configuração do cabeçalho do site*/

/*Baner Incial*/
body{
    background-image: url(Sheets/background.jpg);
    background-size: cover;
}

.PubINICIAL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.textoPROMO{
    display: flex;
    justify-content: center;
    color: beige;
}

.filmesANUNCIO{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bannerFilme{
    width: 30px;
    height: 90px;
    background-color: aqua;
    margin: 40px;
}
/*Final Baner Inicial*/


/*Filmes Disponíveis*/

/*Final Filmes Disponíveis*/

/*Planos Financeiros*/
.planosDoMAX{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.planofinan{
    background-color:bisque;
    width: 30px;
    height: 40px;
    margin: 30px;
    border-radius: 5px;
}

/*Final Planos Financeiros*/







/*Rodapé*/
footer{
    background-color: rgba(0, 0, 61, 0.83);
}

/*Final Rodapé*/