*{
    margin: 0;
    color:white;
}

body{
    background: rgb(0,9,163);
    background: linear-gradient(0deg, rgb(3, 8, 23) 20%, rgb(17, 24, 65) 40%, rgb(19, 22, 73) 94%);
    margin: 0;
}
/*Cabeçalho*/
#cabecalioTelaLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 35, 0.94);
    backdrop-filter: blur(0px);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#Logomaxcabeçalho{
    width: 100px;
    height: 30px;
    margin: 10px;
}
/*Final cabeçalho*/

/*Serviços*/
#PlanosMax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.escolhaSeuPlano{
    font-size: 50px;
    color: white;
    margin: 50px 0px 10px 0px;
}
.textinhoembaixo{
    font-size: 21px;
    color: rgb(187, 186, 186);
}
.botoesdePlanos{
    display: flex;
    margin: 30px;
}
.AnualParcelado{
    background: none;
    border: none;
    width: 340px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid rgb(149, 149, 149);
    padding: 10px;
}
.AnualParcelado:hover{
    border-bottom: 3px solid white;

}

.AnualParcelado span{
    background-color: rgb(149, 149, 149);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}
.Mensal{
    background: none;
    border: none;
    width: 340px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid rgb(154, 154, 154);
    padding: 10px;
}
.Mensal:hover{
    border-bottom: 3px solid white;

}


.servicosPlanos{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 40px 0px;
    width: 90%;
    height: auto;
}
.Planos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 400px;
    border-radius: 10px;
    padding: 20px;
    background: rgb(19,20,51);
    background: linear-gradient(0deg, rgba(19,20,51,1) 4%, rgba(28,29,66,1) 34%, rgba(16,27,88,1) 88%);
    border:2px solid transparent;
}
.divPlanoselecionado{
    border: 3px solid white;
}
.Planos:hover{
    background: rgb(19,20,51);
    background: linear-gradient(0deg, rgb(41, 43, 106) 4%, rgb(59, 61, 129) 34%, rgb(25, 40, 126) 88%);
}
.tituloPlano{
    font-size: 40px;
    font-weight: bold;
    margin: 5px 20px 30px 20px;
}
.preco1, .preco2, .preco3{
    font-size: 20px;
}
.preco1 #valor, .preco2 #valor, .preco3 #valor{
    font-size: 40px;
    font-weight: bold;
}
.preco1 #mes, .preco2 #mes, .preco3 #mes{
    font-size: 25px;
    color: rgb(189, 189, 189);
}
.preco1 #precototalAnual, .preco2 #precototalAnual, .preco3 #precototalAnual{
    font-size: 17px;
    font-weight: bold;
}
#listaBeneficios{
    text-align: left;
    margin: 20px;
}
.aviso{
    display: none;
}
.naoselecionado{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    margin: 30px;

    width: 450px;
    height: 30px;
    color: red;
    background-color: rgba(182, 40, 40, 0.603);
    border-color: red;
    border-radius: 5px;
}
#logoaviso{
    width: 20px;
    height: 20px;
    margin-right: 30px;

}
.naoselecionado .textonaoselecionado{
    font-size: 20px;
    color: rgba(247, 27, 27, 0.881);
}

.descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descricao p{
    text-align: center;
    color: white;
}
.descricao a{
    color: white;
}
.continuar{
    background-color: rgb(215, 215, 215);
    color: black;
    margin: 20px 0px 300px 0px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
}
.continuar:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
/*Final Serviços*/
/*Rodapé*/
footer{
    padding: 20px;
    height: 15vh;
}
.direitosAutorais{
    color: white;
    margin:20px;
    margin-right: 5px;
    text-align: right;
}
.conteudofooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.redessociaisfooter img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-left: 20px;
}

.politicasFimDoSite{
    background:none;
    border: none;
    color: rgb(182, 181, 181);
    font-size: 15px;
}
.politicasFimDoSite:hover{
    color: white;
    font-size: 16px;
}
/*Final Rodapé*/