*{
    margin: 0;
}
/*configuração do cabeçalho do site*/
#cabecalioTelaLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 35, 0.94);
    backdrop-filter: blur(0px);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#Logomaxcabeçalho{
    width: 100px;
    height: 30px;
    margin: 10px;
}
.botaologinregistrar{
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.ASSINAR{
    width: 150px;
    height: 40px;
    color: aliceblue;
    background-color: rgb(72, 121, 255);
    border-radius: 10px;
}
.ASSINAR:hover{
    background-color: rgb(47, 79, 169);
}
.ENTRAR{
    width: 100px;
    height: 40px;
    color: aliceblue;
    background: none;
    border: none;
    border-radius: 10px;
}
.ENTRAR:hover{
    background-color: rgb(84, 84, 84);
}
/*Final configuração do cabeçalho do site*/

/*Baner Incial*/
body{
    background: rgb(0,9,163);
    background: linear-gradient(0deg, rgb(3, 8, 23) 20%, rgba(0,19,129,1) 40%, rgba(0,9,163,1) 94%);
}
.PubINICIAL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.PubINICIAL::before{
    height: 100vh;
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(Sheets/backgroundMAX.png);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}
#logoMaxdobannerInicial{
    width: 400px;
    height: 120px;
    margin-top: 120px;
    margin-bottom: 30px;
}
.textoBOASVINDAS{
    color: beige;
    font-size: 35px;
    margin-bottom: 30px;
}
.textoBOASVINDAS2{
    color: beige;
    font-size: 30px;
    font-weight: 50;
}
.textoBOASVINDAS2 span{
    font-weight:bold;
}
.Assinaturas{
    margin-top: 20px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(72, 121, 255);
    color: beige;
    font-size: 15px;
    font-weight: bold;
}
.Assinaturas:hover{
    background-color: rgb(51, 84, 176);
}
.textoPROMO{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    color: beige;
    font-size: 20px;
    text-align: center;
}
/*Final Baner Inicial*/

/*Filmes Disponíveis*/
.filmesANUNCIO{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
}
.bannerFilme{
    position: relative;
    width: 300px;
    height: 550px;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerFilme::after{
    padding: 0;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) -0%, rgba(0,19,129) 80%);
    filter: blur(0px);
    z-index: 1;
}
.bannerFilme h1{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    align-items: center;
    color: white;
    z-index: 2;
}
.bannerFilme p{
    position: absolute;
    bottom: 30px;
    align-items: center;
    color: white;
    z-index: 2;
}
.bannerFilme:nth-child(1){
    background-image: url(Sheets/HoradeAventura.jpg);
    background-size: cover;
    background-position: center;
}
.bannerFilme:nth-child(2){
    background-image: url(Sheets/bannerLargadosepelados.jpg);
    background-size: cover;
    background-position: center;
}
.bannerFilme:nth-child(3){
    background-image: url(Sheets/bannerLastOfUs.jpg);
    background-size: cover;
    background-position: center;
}
.bannerFilme:nth-child(4){
    background-image: url(Sheets/evilDead.jpg);
    background-size: cover;
    background-position: center;
}
.bannerFilme:nth-child(5){
    background-image: url(Sheets/bannerBatima.jpg);
    background-size: cover;
    background-position: center;
}
.bannerFilme:nth-child(6){
    background-image: url(Sheets/bannerChampions.jpg);
    background-size: cover;
    background-position: center;
}
/*Final Filmes Disponíveis*/

/*Planos Financeiros*/
.planosFinanceirosDoMAX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.TextoFinanceiro{
    color: beige;
    font-size: 30px;
}
.botoesdosPlanos{
    display: flex;
    margin: 40px;
    border: 30px;
}
.planosDoMAX{
    display: flex;
    width: 80%;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.planofinan{
    flex: 0 0 300px;
    background-color:rgb(255, 255, 255);
    height: 350px;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
}
.planofinan h1{
    margin: 10px 10px 10px 0;
    font-size: 20px;
}
.planosDoMAX img{
    width: 12px;
    height: 15px;
}
.planosDoMAX .beneficio{
    display: flex;
    gap: 10px;
    margin: 20px 20px 20px 0px;
}
.textoPromo{
    color: aqua;
    font-size: 15px;
    padding: 0;
    margin: 20px 0px 0px 0px;
    margin-left: 230px;
}
.botoesdosPlanos{
    width: 420px;
    height: 40px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(19, 54, 150);
    margin-top: 10px;

    border: 2px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.2s ease;
}
.botaoSelecionado {
    background-color: white;
    color: black;
}
.botoesdosPlanos.bordaAtivada{
    border-color: white;
}

.planosMensais{
    width: 300px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    background: none;
    border: none;
    color: white;
}
.planosAnuais{
    width: 300px;
    height: 40px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}
.conteudoFinanceiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planofinan:nth-of-type(1) .conteudoFinanceiro{
    margin-top: 100px;
}
.planofinan:nth-of-type(2) .conteudoFinanceiro{
    margin-top: 60px;
}
.planofinan:nth-of-type3(3) .conteudoFinanceiro{
    margin-top: 80px;
}

.conteudoFinanceiro span{
    font-size: 40px;
    font-weight: bold;
    color: rgb(1, 1, 74);
    margin: 0;
}
.precoExplic {
    font-size: 18px;
    color: rgb(0, 0, 142);
    margin-bottom: 10px;
}

.planosDoMAX button{
    width: 220px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    background-color: rgb(0, 48, 179);
}
.planosDoMAX span{
    font-weight: bold;
}
.textinhoFinanceiroexplicativo{
    margin-bottom: 50px;
    font-size: 16px;
    color: rgba(215, 215, 211, 0.697);
}
.textinhoFinanceiroexplicativo a{
    text-decoration: none;
    color:rgb(0, 98, 255)
}
/*Final Planos Financeiros*/

/*categoriasFimDoSite*/
.fimdoLogin{
    background-color:rgb(3, 8, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.categoriasLogin{
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.ListaCategoriafimdoLogin{
    margin: 30px;
}
.categoriasFimdoSite{
    border: none;
    background: none;
    color: beige;
    font-weight: bold;
    padding: 10px;
}
.categoriasFimdoSite:hover{
    background-color: rgb(84, 84, 84);
    border-radius: 5px;

}
.politicasFimDoSite{
    border: none;
    background: none;
    color: beige;
    font-weight: bold;
    padding: 10px;
}
.politicasFimDoSite:hover{
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
}
.DireitosAutorais{
    font-size: 16px;
    color: beige;
    text-align: center;
}
#DireitosAutorais{
    color: beige;
    text-align: center;
    margin-top: 20px;
}
/*Final categorias FimDoSite*/

/*Footer*/
footer{
    background-color: rgba(14, 14, 23, 0.83);;
    width: 100%;
    height: 60px;
}
.logosdoFooterLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.redesociais{
    width: 20px;
    height: 20px;
    padding-right: 30px;
    padding-left: 30px;
}
/*Final do Footer*/