*{
    margin: 0;
    color:white;
}

body{
    background: rgb(0,9,163);
    background: linear-gradient(0deg, rgb(3, 8, 23) 20%, rgba(0,19,129,1) 40%, rgba(0,9,163,1) 94%);
    margin: 0;
}
/*Cabeçalho*/
#cabecalioTelaLogin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 35, 0.94);
    backdrop-filter: blur(0px);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#Logomaxcabeçalho{
    width: 100px;
    height: 30px;
    margin: 10px;
}
/*Final cabeçalho*/

/*Serviços*/
#PlanosMax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.escolhaSeuPlano{
    font-size: 50px;
    color: white;
    margin: 50px 0px 10px 0px;
}
.textinhoembaixo{
    font-size: 21px;
    color: rgb(187, 186, 186);
}
.botoesdePlanos{
    display: flex;
    margin: 30px;
}
.AnualParcelado{
    background: none;
    border: none;
    width: 340px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid rgb(200, 200, 200);
    padding: 10px;
}
.AnualParcelado:hover{
    border-bottom: 3px solid white;

}
.AnualParcelado span{
    background-color: rgb(149, 149, 149);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}
.Mensal{
    background: none;
    border: none;
    width: 340px;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 3px solid rgb(200, 200, 200);
    padding: 10px;
}
.Mensal:hover{
    border-bottom: 3px solid white;

}
.servicosPlanos{
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 40px 0px;
    width: 100%;
    height: auto;
}
.Planos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: 10px;
    padding: 20px;
    background-color: rgb(0, 136, 255);
}
.descricao{
    display: flex;
    justify-content: center;
}
.descricao p{
    text-align: center;
    color: white;
}
.descricao a{
    color: white;
}
/*Final Serviços*/
/*Rodapé*/
footer{
    padding: 20px;
    height: 15vh;
}
.direitosAutorais{
    color: white;
    margin:20px;
    margin-right: 5px;
    text-align: right;
}
.conteudofooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.redessociaisfooter img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-left: 20px;
}

.politicasFimDoSite{
    background:none;
    border: none;
    color: rgb(182, 181, 181);
    font-size: 15px;
}
.politicasFimDoSite:hover{
    color: white;
    font-size: 16px;
}
/*Final Rodapé*/