*{
    margin: 0;
}

body{
    background: rgb(16,17,38);
    background: linear-gradient(0deg, rgba(16,17,38,1) 11%, rgba(0,10,68,1) 84%);
}
/*Começo do cabeçalho do login*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 35, 0.94);
    backdrop-filter: blur(0px);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#Logomaxcabeçalho{
    width: 100px;
    height: 30px;
    margin: 10px;
}
.cadastro{
    color: white;
    background: none;
    border: none;
    margin: 80px;
    font-size: 20px;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}
.cadastro:hover{
    background-color: rgba(160, 159, 159, 0.386);
}
/*Fim do cabeçalho do login*/

/*Aba de login*/
.TelaLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    color: white;
}
.conteudoLogin{
    width: 40%;
}
.textoComeca{
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 150px;
}
.textoEntrar{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.LoginTexto{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.Login{
    background: rgb(19,20,51);
    background: linear-gradient(0deg, rgba(19,20,51,1) 4%, rgba(28,29,66,1) 34%, rgba(16,27,88,1) 88%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 60px 30px 60px;
}
.enderecoemail{
    margin-bottom: 2px;
}
input{
    color: white;
}
.email{
    border-radius: 5px;
    background: none;
    border-color: white;
    width: 100%;
    height: 30px;
    margin-bottom: 40px;
}
.enderecosenha{
    margin-bottom: 2px;
}
.senha{
    border-radius: 5px;
    background: none;
    border-color: white;
    width: 100%;
    height: 30px;
}
.LinkEsqueciSenha{
    color: rgb(0, 247, 255);
    text-decoration: none;
    margin: 30px 0px 30px 0px;
}
.LinkEsqueciSenha:hover{
    text-decoration:underline;
}
.Entrar{
    background-color: rgb(220, 220, 220);
    color: black;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
}
.Entrar:hover{
    background-color: white;
}
.AjudaPEntrar{
    margin: 25px 0px 120px 0px;
    color: rgb(0, 247, 255);
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 120px;
}
.AjudaPEntrar:hover{
    text-decoration:underline;
}
/*Final da aba de login*/

/*Rodapé*/
footer{
    padding: 20px;
    height: 15vh;
}
.direitosAutorais{
    color: white;
    margin:20px;
    margin-right: 5px;
    text-align: right;
}
.conteudofooter{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.redessociaisfooter img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    padding-left: 20px;
}
.politicasLogin{
}
.politicasFimDoSite{
    background:none;
    border: none;
    color: rgb(182, 181, 181);
    font-size: 15px;
}
.politicasFimDoSite:hover{
    color: white;
    font-size: 16px;
}
/*Final do rodapé*/